Expense ID: {{ expense.id }}<br>
Date: {{ expense.expense_date }}<br>
Submitted by: {{ expense.user_id.first_name }} {{ expense.user_id.last_name }} on {{ expense.submission_date }}<br>
Amount: {{ expense.amount }}<br>
Category: {{ expense.category }}<br>
Description: {{ expense.description }}<br>
Status: {{ expense.status }}<br>

{% if user_type == 'traveller' and expense.status == 'pending' %}
    <a href="{% url 'expenses:expense_edit_traveller' expense.id %}">Modify</a>
{% elif user_type == 'approver' %}
    <form method="post" action="{% url 'expenses:expense_approve' expense.id %}">
        {% csrf_token %}
        <div>
            <label for="approvers_comment">Leave a comment:</label><br>
            <textarea name="approvers_comment" rows="4" cols="50" placeholder="Add your comment here (optional)...">{{ expense.approvers_comment }}</textarea>
        </div>
        <div>
            <button type="submit" name="action" value="approve">Accept</button>
            <button type="submit" name="action" value="reject">Reject</button>
        </div>
    </form>
{% endif %}