<h1>Expenses list</h1>

{% if expenses %}
    {% for expense in expenses %}
    Expense ID: {{ expense.id }}<br>
    {% if user_type == 'approver' %}
    Submitted by: {{ expense.user_id.first_name }} {{ expense.user_id.second_name }}<br>
    {% endif %}
    Date: {{ expense.date }}<br> 
    Amount: {{ expense.amount }}<br>
    Category: {{ expense.category }}<br>
    Description: {{ expense.description }}<br>
    {% if expense.approvers_comment %}
    Approver's comment: {{ expense.approvers_comment }}<br>
    {% endif %}
    Status: {{ expense.status }}<br><br>    
    {% endfor %}
{% else %}
    <p>No expenses to display</p>
{% endif %}